.around, .transportation, .foodspots, .entertainment, .stores {

    &__text {
        text-align: justify;
        font-size: $font-size-primary;
        word-spacing: 3px;
        font-weight: 300;
    }

}

.foodspots {
    &__box {
        margin: 2rem auto;
        width: 80%;
    }

    &__description {
        text-align: justify right;
        font-size: $font-size-primary;
        word-spacing: 3px;
        font-weight: 300;
    }

    

    .street {
        text-align: justify;
        font-size: $font-size-primary;
        word-spacing: 3px;
        font-weight: 300;
    }
}

.stores {

    &__box {
        margin: 2rem auto;
        width: 80%;
    }

    &__description {
        text-align: justify right;
        font-size: $font-size-primary;
        word-spacing: 3px;
        font-weight: 300;
    }

    

    .street {
        text-align: justify;
        font-size: $font-size-primary;
        word-spacing: 3px;
        font-weight: 300;
    }
}

.bank {

    &__list {
        width: 80%;
        margin: 2rem auto;
        list-style: none;
    }

    &__item {
        font-size: $font-size-primary;
        font-weight: 300;
    }

    i {
        color: $color-primary-light;
    }
}