.clubs, 
.cultural {
    &__text {
        text-align: justify;
        font-size: $font-size-primary;
        word-spacing: 3px;
        font-weight: 300;
    }

    span {
        font-weight: 700;
    }
}

.cultural {
    width: 90%;
    margin: 7rem auto;

    &__photo {
        width: 100%;
    }
}

.icon_section{
    display:flex;
    align-items: center;
    gap: 0.8vw;
    &__size{
        height: 8vh;
        width: 8vh;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    &__vertical_line{
        height: 8vh;
        width: 0px;
        border-left: .1px solid black;
    }

}
.nominee__text {
    text-align: justify;
    font-size: 2rem;
    word-spacing: 3px;
    font-weight: 0;
    font-family: serif;
  }