
.about,
.location,
.facilities,
.network,
.mess,
.medical,
.transportation {
  &__text {
    text-align: justify;
    font-size: $font-size-primary;
    word-spacing: 3px;
    font-weight: 300;
  }

  span {
    font-weight: 900;
  }

  &__photo {
    width: 100%;
  }
}

.info {
  width: 90%;
  margin: 0 auto;
}

.info__text {
  text-align: justify;
  font-size: 1.7rem;
  word-spacing: 3px;
  font-weight: 300;
}

.info:not(:last-child) {
  margin-bottom: 2rem;
}

.info__list {
  width: 80%;
  margin: 2rem auto;
}

.info__item {
  font-size: 1.7rem;
  font-weight: 300;
}
